body{
    background-color: rgb(122, 115, 115);
}
*{
    margin: 2px;
    padding:2px;
}
.logo{
    width: 90px;
    display: flex;
    align-items:center;
    justify-content: center;
;}
.logo img{
    width: 30px;
    border: 5px burlywood;
    border-color:solid white;
    border-radius: 50px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;

}
.nav-list{
    align-items: left;
    display: flex;
    background-color: rgb(72, 70, 75);
}
.nav-list li {
list-style: none;    
padding: 1px 1px;

}
.nav-list li a{
text-decoration: none;
color: rgb(231, 215, 215);
}

.nav-list li a:hover{
    color: black;
}

.rightNav{
    background-color: rgb(78, 59, 59);
    width: 20px;
    text-align: right;
}
#search{
    padding: 3px;
    font-size:17px;
    border: 2px solid rgb(156, 126, 69);
    border-radius:8px;
}

.background{
    background:rgba(0,0, 0,0.3) url('/cccc.jpeg');
    background-size: cover;
    background-blend-mode: darken;

}

.box-main{
    text-size-adjust:20px;
    color: rgb(202, 202, 179);
}

.firstsection{
    height: 50vh;
    width: 60vh;
    padding: 15px;
    justify-content: center;
}
.text-big{
    text-align:start;
    text-shadow: 8px;
    
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
}
.secondhalf{
    padding: 40px;
    color: azure;
    background-blend-mode:darken;
}
.button{
    padding: 10px;
    color: rgb(161, 52, 52);
    border: 9px ;
    border-radius: 5px;
    
    
}
.button:hover{
    color: rgb(131, 25, 25);
}
.product{
    padding: 60px;
    border: 5px solid;
    border-color: beige;
    background:rgba(0,0, 0,0.5) url('/download.jpeg');
    background-size: cover;
    background-blend-mode: darken;
}
.product image{
    border: #dee9de;
    height:150px;
    width:150px;
    border: 10px;
}
button {
    background-color: #c4dbc4;
    color: #204125;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #606c75;
}
@media screen and (max-width:1200px) {
    li a{
        padding: 64px 30 px;
    }
}
